.btn1 {
    background-color: #ffffff;
    border: solid 1px #000000;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 20px;
    box-sizing: content-box;
    font-family: sans-serif;
}

.vip {
    background-color: #ffffff;
    border: solid 1px #000000;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 20px;
    box-sizing: content-box;
    font-family: sans-serif;
    cursor: pointer;
}

.vip:hover {
    background-color: #eeff00;
    border: dashed 1px #000000;
    color: #ffffff;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 20px;
}

.btn1:hover {
    background-color: #818181;
    border: dashed 1px #000000;
    color: #000000;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 20px;
}

.cube1 {
    /* height: 80px; */
    width: 100%;
    background-color: #0332b4;
}

.cube4 {
    height: 50px;
    width: 100%;
    background-color: rgb(47, 37, 90);
}

.cube3 {
    height: 75px;
    width: 100%;
    background-color: #000;
}

.cube2 {
    height: 75px;
    width: 100%;
    background-color: #673dc7;
}

.cube5 {
    height: 75px;
    width: 100%;
    background-color: rgb(16, 104, 62);
}

.cube6 {
    height: 25px;
    width: 100%;
    background-color: rgb(0, 63, 3);
}

h1,
p {
    font-family: sans-serif;
    color: rgb(255, 255, 255);
    margin-top: 0;
}

h2 {
    font-family: sans-serif;
    color: rgb(20, 172, 20);
}

.container {
    margin-top: 20px;
    /* background-color: #ffaadd; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

button {
    background-color: #ffffff;
}

body {
    margin: 0px;
}

* {
    box-sizing: content-box;
}

.aaa {
    display: inline;
}

a:link {
    color: #000;
    text-decoration: none;
}

a:visited {
    color: #000;
    text-decoration: none;
}

.cube9 {
    height: 50px;
    width: 100%;
    background-color: rgb(0, 0, 0);
}

.cube7 {
    height: 50px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    box-sizing: content-box;
}

.container2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.cube8 {
    height: 10px;
    color: rgb(255, 255, 255);
}

.c33 {
    width: 14%;
}

.cube10 {
    width: 100%px;
    height: 40px;
    background-color: #eeff00;
}

.ddd {
    background-color: #0332b4;
    border: 0;
    color: rgb(255, 255, 255);
    display: inline;
    cursor: pointer;
    font-family: sans-serif;
    padding-right: 20px;
}

.ddd:active {
    background-color: #0332b4;
    border: 0;
    color: rgb(255, 255, 255);
    border-radius: 0px;
}